<<<<<<< HEAD
body {
    border: 2px dotted gray;
    border-radius: 5px;
    padding: 2%;
}

header.container {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(253, 241, 186);
    /* height: 10vh; */
    padding: 2%;
    text-align: left;

}

nav.container {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(180, 236, 96);
    text-align: left;
    float: left;
    width: 20%;
    height: 80px;
}
section.container {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(180, 236, 96);
    text-align: left;
    margin-left: 30%;
    /* width: 70%; */
    height: 50%;

}

footer.container {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(255, 214, 81);
    text-align: left;  
    padding: 2%;
}

.content {
    /* padding: 2%; */
    margin: 2%;
    border: 1px dotted gray;
    border-radius: 5px;
=======
* {
     text-align: center;
     box-sizing: border-box;
     border-radius: 5px;
}

header.container {
    border: 1px solid gray;;
    background-color: rgb(253, 241, 186);
    height: 120px;
    margin: 1%;
    width: 97%;  
}

nav, section {
    border: 1px solid gray;
    background-color: rgb(180, 236, 96);
    margin: 1% 1%;
}
nav {
    width: 35%; height: 50vh;
    float: left;            
}
section {
    width: 60%; height: 50vh;
    float: left;
}
footer.container {
    border: 1px solid gray;;
    background-color: rgb(255, 214, 81);
    height: 50px;
    clear: left;  
    margin: 1%;   
    width: 97%;       
>>>>>>> refs/remotes/origin/master
}